<div class="section" id="certifications">
  <div class="section-label">Awards & Certifications</div>
  {% for cert in site.data.certifications %}
  <div class="card">
    <div class="cert-title">
      {% if cert.link %}<a href="{{ cert.link }}" target="_blank">{{ cert.title }}</a>{% else %}{{ cert.title }}{% endif %}
    </div>
    <div class="cert-meta">{{ cert.issuer }} - {{ cert.date }}</div>
    <div class="cert-desc">{{ cert.description | markdownify }}</div>
  </div>
  {% endfor %}
</div>
