<div class="container programming-container">
  <h3>{{ site.programming_title | default: "Programming and Data Manipulation" }}</h3>
  {% for programming in site.data.programming %}
    <div class="row clearfix programming">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
        <h4 class="name">
          {%- if programming.link -%}
            {% include a.html href=programming.link %}
          {%- endif -%}
          {{ programming.company }}
          {%- if programming.link -%}
            </a>
          {%- endif -%}
          </h4>
        <p><b>{{ programming.job_title }}</b></p>
        <p>{{ programming.dates }}</p>
        {% for job in programming.jobs %}
          <p><b>{{ job.title }}</b></p>
          <p>{{ job.dates }}</p>
        {% endfor %}
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
        {%- if programming.quote -%}
          <p class="quote">{{ programming.quote }}</p>
        {%- endif -%}
        {{ programming.description | strip | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
