<div class="section" id="projects">
  <div class="section-label">Projects</div>
  <div class="grid-2">
    {% for project in site.data.projects %}
    <div class="card">
      <div class="project-name">
        {% if project.github %}<a href="https://github.com/{{ project.github }}" target="_blank">{{ project.name }}</a>{% else %}{{ project.name }}{% endif %}
      </div>
      <div class="project-desc">{{ project.description | markdownify }}</div>
      {% if project.github %}
      <div class="project-github"><a href="https://github.com/{{ project.github }}" target="_blank">{{ project.github }}</a></div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
