<div class="container skills-container">
  <h3>{{ site.skills_title | default: "Information Technology Skills" }}</h3>

  <div class="row clearfix skills">
    <!-- Description -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-print-12">
      {{ site.data.skills.description | strip | markdownify }}
      <br>
    </div>

    
    <!-- Data Science and Analysis -->
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
      <h4>Data Science and Analysis</h4>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
      <ul>
        {% for skill in site.data.skills.data_science_and_analysis %}
          <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </div>
    <br>
    
    
    <!-- Civil Engineering and Construction Management -->
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
      <h4>Civil Engineering and Construction Management</h4>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
      <ul>
        {% for skill in site.data.skills.civil_engineering_and_construction_management %}
          <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
