<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      <!-- Floating Index -->
      <nav id="floating-index">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#certifications">Certifications</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#languages">Languages</a></li>
          <li><a href="#more-content">More</a></li>
        </ul>
      </nav>

      <div id="about">
        {%- include about.html -%}
      </div>
      
      <!-- Education -->
      {%- if site.data.education.size > 0 -%}
        {%- include education.html -%}
      {%- endif -%}

      <!-- Skills -->      
      {%- if site.data.skills.size > 0 -%}
        {%- include skills.html -%}
      {%- endif -%} 
      
      <!-- Certifications -->
      {%- if site.data.certifications.size > 0 -%}
        {%- include certifications.html -%}
      {%- endif -%}
    
      <!-- Experience -->
      {%- if site.data.experience.size > 0 -%}
        {%- include experience.html -%}
      {%- endif -%}

      <!-- Projects -->
      {%- if site.data.projects.size > 0 -%}
        {%- include projects.html -%}
      {%- endif -%}



      <!-- Languages -->
      {%- if site.data.languages.size > 0 -%}
        {%- include languages.html -%}
      {%- endif -%}


      {%- if site.more_content -%}
        {%- include more.html -%}
      {%- endif -%}

    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>
